<h1>Citas</h1>
<div class="contenedor">
    <div class="menu-acciones">
            <button mat-raised-button
            type="button"
            color="primary"
            (click)="openCrearCitaModal()">Agregar Cita</button>
    </div>

    <div class="tabla-citas">
        <table mat-table [dataSource]="citas" class="mat-elevation-z8">
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.CitaId}} </td>
            </ng-container>
            <ng-container matColumnDef="Paciente">
                <th mat-header-cell *matHeaderCellDef> Paciente </th>
                <td mat-cell *matCellDef="let element"> {{getPacienteFullName(element)}} 
                    <button mat-raised-button
                    type="button"
                    color="danger"
                    (click)="openPacienteModal(element.Paciente)">Ver</button>
                </td>
            </ng-container>
            <ng-container matColumnDef="Fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.CitaFecha}} </td>
            </ng-container>
            <ng-container matColumnDef="Tipo">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element"> {{getTipoDescripcion(element)}} </td>
            </ng-container>
            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button
                    type="button"
                    color="warning"
                    (click)="openCancelarCitaModal(element)">Cancelar Cita</button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>